#datePicker{
    height:25px;
    width:250px;
    margin-top: 5px;
    padding: 5px;
}
.datePicker{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top:15px;
}
.datePicker > p {
    font-weight: 600;
}
.reg_btn{
    margin-top: 20px;
    display: flex;
}

.place{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.error{
   font-size: 12px;
   color: orange;
   margin-top: 10px;
   margin-bottom: 10px;
}